<div class="row">
    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <div class="row">
                <div class="col-6">
                    <h2 class="pageheader-title">Process Translate Service Order. </h2>
                </div>
                <div class="col-6">
                    <h2 class="pageheader-title" style="float: right;">Invoice No - {{ this.invoiceNo }}</h2>
                </div>
            </div>
            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="!this.csServiceForm">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Process Notary Service Order</h5>
            <div class="card-body">
                <form [formGroup]="this.paymentForm" (ngSubmit)="onSubmitPaymentLogForm()">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">පත්ඉරු පරීක්ෂාව / Extract Search</label>
                            <input type="text" class="form-control" formControlName="extSearch">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">දෙවන පිටපත් පරීක්ෂාව  / Second copy check</label>
                            <input type="text" class="form-control" formControlName="secondCopyCheck">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">පත්ඉරු ගැනීම  / Obtain Extracts</label>
                            <input type="text" class="form-control" formControlName="obtainExt">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">දෙවන පිටපත් ගැනීම / Obtain Second copy taking</label>
                            <input type="text" class="form-control" formControlName="obtainSecondCpyTaking">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">පෙලපත් සටහන සැකසීම / Preparation of the Title</label>
                            <input type="text" class="form-control" formControlName="prepOfTitle">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ඡායාරූප ගාස්තු / Photography fees</label>
                            <input type="text" class="form-control" formControlName="photographyFees">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ඡායා පිටපත් ගාස්තු / Photocopy charges</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">රජයේ මුද්දර ගාස්තු / Government Stamp Duty</label>
                            <input type="text" class="form-control" formControlName="govStampDuty">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ලියාපදිංචි කිරීමේ ගාස්තු / Registration fees</label>
                            <input type="text" class="form-control" formControlName="regFees">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ප්‍රවාහන ගාස්තු  / Transportation charges</label>
                            <input type="text" class="form-control" formControlName="transpotationFees">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">නොතාරිස් ගාස්තු / Notary fees</label>
                            <input type="text" class="form-control" formControlName="notaryFees">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">කඩිනම් සේවා ගාස්තු / Expedited service charges</label>
                            <input type="text" class="form-control" formControlName="expServiceCharge">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">හදුන්වාදීමේ කොමිස්  / Referral commission</label>
                            <input type="text" class="form-control" formControlName="refCommision">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">තැපැල් ගාස්තු / Postage charges</label>
                            <input type="text" class="form-control" formControlName="postageCharge">
                        </div>
                    </div>
                   
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">සේවාව සැපයීම සදහා සම්පූර්ණ අය කිරීම - Full charge for service provision</label>
                            <input type="text" class="form-control" formControlName="fullChargeOfServiceProvision" >
                        </div>
                      
                    </div>
                    <hr>
                    
                    <div class="row mt-4">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">පලමු අත්තිකාරම / First advance</label>
                            <input type="text" class="form-control" formControlName="firstAdvance">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">දෙවන අත්තිකාරම  / Second advance</label>
                            <input type="text" class="form-control" formControlName="secondAdvance">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">තුන්වන අත්තිකාරම / Third advance</label>
                            <input type="text" class="form-control" formControlName="thirdAdvance">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">හතරවන අත්තිකාරම / Fourth advance</label>
                            <input type="text" class="form-control" formControlName="forthAdvance">
                        </div>
                    </div>
                    <div class="row mt-3">
                        
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">පස්වන අත්තිකාරම / Fifth advance</label>
                            <input type="text" class="form-control" formControlName="fifthAdvance">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">අවසන් ගෙවීම / Final payment</label>
                            <input type="text" class="form-control" formControlName="finalPayment">
                        </div>
                    </div>
                    <div class="row mt-3">
                       
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">හිග මුදල / Amount in arrears</label>
                            <input type="text" class="form-control" formControlName="amountInArreas">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label for="">සිදුකල යුතු වැඩ කාර්යය විස්තරය / Description of work to be done</label>
                            <textarea name="" class="form-control" id="" cols="30" rows="10" formControlName="descriptionOfService"></textarea>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">රැගෙන යන දිනය  / Pick up date</label>
                            <input type="date" class="form-control" formControlName="pickUpDate">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ඉදිරිපත් කරන දිනය / Date of submission</label>
                            <input type="date" class="form-control" formControlName="dateOfSubmission">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">තැපැල් කරන දිනය  / Date of mailing</label>
                            <input type="date" class="form-control" formControlName="dateOfMailing">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ලියාපදිංචි කරන දිනය  / Date of registration</label>
                            <input type="date" class="form-control" formControlName="dateOfRegistration">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">මුද්දර ගාස්තුව / Stamp Duty</label>
                            <input type="text" class="form-control" formControlName="stampDuty">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <div class="row">
                                <div class="col-11">
                                    <label for="">මුළු මුදල / Total Amount</label>
                                </div>
                                <div class="col-1">
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="form-control" formControlName="totalAmount">
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-primary btn-sm" (click)="onClickSetTotalAmount()">Calculate Total Amount</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1">
                            <button class="btn btn-primary btn-sm" type="submit">Save</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-info btn-sm" (click)="onClickBackBtn()">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="this.csServiceForm">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Process Company Secretarial Order</h5>
            <div class="card-body">
                <form [formGroup]="csPaymentForm" (ngSubmit)="onSubmitCsPaymentLogForm()">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for=""> සමාගමේ නාමය අනුමතකරවා ගැනීම / Company Name Approval</label>
                            <input type="text" class="form-control" formControlName="companyNameApproval">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">Form 01</label>
                            <input type="text" class="form-control" formControlName="form1">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">Form 10</label>
                            <input type="text" class="form-control" formControlName="form10">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">Form 13</label>
                            <input type="text" class="form-control" formControlName="form13">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">Form 15</label>
                            <input type="text" class="form-control" formControlName="form15">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">Form 18</label>
                            <input type="text" class="form-control" formControlName="form18">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">Form 19</label>
                            <input type="text" class="form-control" formControlName="form19">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">Form 20</label>
                            <input type="text" class="form-control" formControlName="form20">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">පිටපත් ගාස්තු / Copy charges</label>
                            <input type="text" class="form-control" formControlName="copyCharges">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ආර්ටිකල් සැකසුම් ගාස්තු / Article processing fees</label>
                            <input type="text" class="form-control" formControlName="articleFees">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">සංශෝධන ගාස්තු / Amendment fees</label>
                            <input type="text" class="form-control" formControlName="amendmendFees">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">මාසික / වාර්ශික ගාස්තු / Monthly / Annual Fees</label>
                            <input type="text" class="form-control" formControlName="annualFees">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">දඩ අයකිරීම්  / Penalties</label>
                            <input type="text" class="form-control" formControlName="panalties">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">වෙනත් / Other</label>
                            <input type="text" class="form-control" formControlName="other">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">රජයේ මුද්දර ගාස්තු / Government Stamp Duty</label>
                            <input type="text" class="form-control" formControlName="govStampDuty">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ලියා පදිංචි කිරීමේ ගාස්තු / Written settlement fees</label>
                            <input type="text" class="form-control" formControlName="writenSettlementFees">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ප්‍රවාහන ගාස්තු / Transportation charges</label>
                            <input type="text" class="form-control" formControlName="transpotationFees">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">සමාගම් ලේකම් ගාස්තු / Company Secretarial Fees</label>
                            <input type="text" class="form-control" formControlName="companySecFees">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">කඩිනම් සේවා ගාස්තු / Expedited service charges</label>
                            <input type="text" class="form-control" formControlName="expServiceCharges">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">හදුන්වාදීමේ කොමිස් / Referral commission</label>
                            <input type="text" class="form-control" formControlName="refCommision">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">තැපැල් ගාස්තු / Postage charges</label>
                            <input type="text" class="form-control" formControlName="postageCharge">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <div class="row">
                                <div class="col-11">
                                    <label for="">සේවාව සැපයීම සදහා සම්පූර්ණ අය කිරීම / Full charge for service provision</label>
                                </div>
                                <div class="col-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="form-control" formControlName="fullChargeOfServiceProvision">
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-primary btn-sm" (click)="setCsPayTotalAmount()">Calculate Total</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">පලමු අත්තිකාරම / First advance</label>
                            <input type="text" class="form-control" formControlName="firstAdvance" (change)="onInputChange($event)">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">දෙවන අත්තිකාරම / Second advance</label>
                            <input type="text" class="form-control" formControlName="secondAdvance" (change)="onInputChange2($event)">
                        </div>
                    </div>
                    <div class="row mt-3">
                        
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">තුන්වන අත්තිකාරම / Third advance</label>
                            <input type="text" class="form-control" formControlName="thirdAdvance" (change)="onInputChange3($event)">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">හතරවන අත්තිකාරම / Fourth advance</label>
                            <input type="text" class="form-control" formControlName="forthAdvance" (change)="onInputChange4($event)">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">පස්වන අත්තිකාරම / Fifth advance</label>
                            <input type="text" class="form-control" formControlName="fifthAdvance" (change)="onInputChange5($event)">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">අවසන් ගෙවීම / Final payment</label>
                            <input type="text" class="form-control" formControlName="finalPayment" (change)="onInputChange6($event)">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">හිග මුදල / Amount in arrears</label>
                            <input type="text" class="form-control" formControlName="amountInArreas">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label for="">සිදුකල යුතු වැඩ කාර්යය විස්තරය / Description of work to be done</label>
                            <textarea name="" class="form-control" id="" cols="30" rows="10" formControlName="descriptionOfService"></textarea>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">රැගෙන යන දිනය / Pick up date</label>
                            <input type="date" class="form-control" formControlName="pickUpDate">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ඉදිරිපත් කරන දිනය / Date of submission </label>
                            <input type="date" class="form-control" formControlName="dateOfSubmission">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">තැපැල් කරන දිනය / Date of mailing</label>
                            <input type="date" class="form-control" formControlName="dateOfMailing">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ලියාපදිංචි කරන දිනය / Date of registration</label>
                            <input type="date" class="form-control" formControlName="dateOfRegistration">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">මුද්දර ගාස්තුව / Stamp Duty</label>
                            <input type="text" class="form-control" formControlName="stampDuty">
                        </div>
                        <!-- <div class="col-md-6 col-lg-6 col-sm-12">
                            <div class="row">
                                <div class="col-11">
                                    <label for="">මුද්ෙර ගා ්තුව / Total Amount</label>
                                </div>
                                <div class="col-1">
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="form-control" formControlName="totalAmount">
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-primary btn-sm" (click)="onClickSetTotalAmount()">Calculate Total Amount</button>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="row mt-3">
                        <div class="col-1">
                            <button class="btn btn-primary btn-sm" type="submit">Save</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-info btn-sm" (click)="onClickBackBtn()">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>