<div class="row">
    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <div class="row">
                <div class="col-6">
                    <h2 class="pageheader-title">Process Translate Service Order. </h2>
                </div>
                <div class="col-6">
                    <h2 class="pageheader-title" style="float: right;">Invoice No - {{ this.invoiceNo }}</h2>
                </div>
            </div>
            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Process Notary Service Order</h5>
            <div class="card-body">
                <form [formGroup]="this.paymentForm" (ngSubmit)="onSubmitPaymentLogForm()">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">පත් ඉරු පීමේෂාව / Extract Search</label>
                            <input type="text" class="form-control" formControlName="extSearch">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">සෙවන පිටපත් පීමේෂාව / Second copy check</label>
                            <input type="text" class="form-control" formControlName="secondCopyCheck">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">පත් ඉරු ගැනීම / Obtain Extracts</label>
                            <input type="text" class="form-control" formControlName="obtainExt">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">සෙවන පිටපත් ගැනීම / Obtain Second copy taking</label>
                            <input type="text" class="form-control" formControlName="obtainSecondCpyTaking">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">සපලපත් ටහන ැකසීම / Preparation of the Title</label>
                            <input type="text" class="form-control" formControlName="prepOfTitle">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ඡායාරූප ගා ්තු / Photography fees</label>
                            <input type="text" class="form-control" formControlName="photographyFees">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ඡායා පිටපත් ගා ්තු / Photocopy charges</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">රජසේ මුද්ෙර ගා ්තු / Government Stamp Duty</label>
                            <input type="text" class="form-control" formControlName="govStampDuty">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ලියා පදිංචි ණීීමසම් ගා ්තු / Registration fees</label>
                            <input type="text" class="form-control" formControlName="regFees">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ප්‍රවාහන ගා ්තු / Transportation charges</label>
                            <input type="text" class="form-control" formControlName="transpotationFees">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">සනොතාරි ් ගා ්තු / Notary fees</label>
                            <input type="text" class="form-control" formControlName="notaryFees">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">කයානම් ස ේවා ගා ්තු / Expedited service charges</label>
                            <input type="text" class="form-control" formControlName="expServiceCharge">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">හ දන්වාදීසම් සකොමි ් / Referral commission</label>
                            <input type="text" class="form-control" formControlName="refCommision">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">තැපැේ ගා ්තු / Postage charges</label>
                            <input type="text" class="form-control" formControlName="postageCharge">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ස ේවාව ැපයීම ෙහා ම්පූර්ණ අය ණීීමම Full charge for service provision</label>
                            <input type="text" class="form-control" formControlName="fullChargeOfServiceProvision">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">පලමු අත්තිකාරම / First advance</label>
                            <input type="text" class="form-control" formControlName="firstAdvance">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">සෙවන අත්තිකාරම / Second advance</label>
                            <input type="text" class="form-control" formControlName="secondAdvance">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">තුන්වන අත්තිකාරම / Third advance</label>
                            <input type="text" class="form-control" formControlName="thirdAdvance">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">හතරවන අත්තිකාරම / Fourth advance</label>
                            <input type="text" class="form-control" formControlName="forthAdvance">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ප ්වන අත්තිකාරම / Fifth advance</label>
                            <input type="text" class="form-control" formControlName="fifthAdvance">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">අව න් සගවීම / Final payment</label>
                            <input type="text" class="form-control" formControlName="finalPayment">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">හිග මුෙල / Amount in arrears</label>
                            <input type="text" class="form-control" formControlName="amountInArreas">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label for="">සි දකල යුතු වැඩ කාර්යය වි ්තරය / Description of work to be done</label>
                            <textarea name="" class="form-control" id="" cols="30" rows="10" formControlName="descriptionOfService"></textarea>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">රැසගන යන දිනය / Pick up date</label>
                            <input type="date" class="form-control" formControlName="pickUpDate">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ඉදිරිපත් කරන දිනය / Date of submission</label>
                            <input type="date" class="form-control" formControlName="dateOfSubmission">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">තැපැේ කරන දිනය / Date of mailing</label>
                            <input type="date" class="form-control" formControlName="dateOfMailing">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">ලියාපදිංචි කරන දිනය / Date of registration</label>
                            <input type="date" class="form-control" formControlName="dateOfRegistration">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <label for="">මුද්ෙර ගා ්තුව / Stamp Duty</label>
                            <input type="text" class="form-control" formControlName="stampDuty">
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <div class="row">
                                <div class="col-11">
                                    <label for="">මුද්ෙර ගා ්තුව / Total Amount</label>
                                </div>
                                <div class="col-1">
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="form-control" formControlName="totalAmount">
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-primary btn-sm" (click)="onClickSetTotalAmount()">Calculate Total Amount</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1">
                            <button class="btn btn-primary btn-sm" type="submit">Save</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-info btn-sm" (click)="onClickBackBtn()">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>