<div *ngIf="this.role == 'SA'">
    <div class="row">
        <!-- <ngx-spinner type="ball-scale-multiple"></ngx-spinner> -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Hellow Welcome Back Test User</h2>
                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis
                    faucibus at enim quis massa lobortis rutrum.</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <!-- <i class="icon-pencil primary font-large-2 float-left"></i> -->
                                <img width="48" height="48" src="https://img.icons8.com/fluency/48/purchase-order--v1.png" alt="purchase-order--v1"/>
                            </div>
                            <div class="media-body text-right">
                                <h3>{{ this.dashboardModel.totalOrderCount }}</h3>
                                <span>Total Orders</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <!-- <i class="icon-pencil primary font-large-2 float-left"></i> -->
                                <img width="48" height="48" src="https://img.icons8.com/fluency/48/purchase-order--v1.png" alt="purchase-order--v1"/>
                            </div>
                            <div class="media-body text-right">
                                <h3>{{ this.dashboardModel.totalNotAssignedCount }}</h3>
                                <span>Not Assigned Orders</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <!-- <i class="icon-pencil primary font-large-2 float-left"></i> -->
                                <img width="48" height="48" src="https://img.icons8.com/fluency/48/purchase-order--v1.png" alt="purchase-order--v1"/>
                            </div>
                            <div class="media-body text-right">
                                <h3>{{ this.dashboardModel.totalAssignedCount }}</h3>
                                <span>Assigned Orders</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <!-- <i class="icon-pencil primary font-large-2 float-left"></i> -->
                                <img width="48" height="48" src="https://img.icons8.com/fluency/48/purchase-order--v1.png" alt="purchase-order--v1"/>
                            </div>
                            <div class="media-body text-right">
                                <h3>278</h3>
                                <span>Completed Orders</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>