<div class="row">
    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Manage All Admin Users Here. </h2>
            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Manage All Admin Users</h5>
            <div class="card-body">
                <form [formGroup]="this.addAdminUserForm" (ngSubmit)="onSubmitAddAdminUserForm()">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="inputText3" class="col-form-label">First Name :</label>
                                <input id="inputText3" type="text" class="form-control" formControlName="firstName">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="inputText3" class="col-form-label">Last Name :</label>
                                <input id="inputText3" type="text" class="form-control" formControlName="lastName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="inputText3" class="col-form-label">Email :</label>
                                <input id="inputText3" type="text" class="form-control" formControlName="email">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="inputText3" class="col-form-label">Password :</label>
                                <input id="inputText3" type="password" class="form-control" formControlName="password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <input type="submit" class="btn btn-primary btn-sm" value="Add Admin User">
                        </div>
                        <div class="col-6">
                            <input type="reset" class="btn btn-warning btn-sm" value="Reset Feilds">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body border-top">
                <h3>List of Evaluvators</h3>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered first">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email Address</th>
                                        <th>Create Time</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let eachAdmin of this.adminUserList; index as i">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ eachAdmin.firstName }}</td>
                                        <td>{{ eachAdmin.lastName }}</td>
                                        <td>{{ eachAdmin.emailAddress }}</td>
                                        <td>{{ eachAdmin.createTime | date }}</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm">Update</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email Address</th>
                                        <th>Create Time</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>